/* Importación del tema de Angular Material */
@import "../node_modules/@angular/material/prebuilt-themes/cyan-orange.css";

/* Importación de Bootstrap */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Estilos globales */
body {
  background-color: #1d2225;
  color: #e0e0e0;
}

.mat-card {
  background-color: #1d2225 !important;
  color: #e0e0e0 !important;
}
